footer.site-footer {
	padding: 0.5em;
	padding-top: 10em;
	text-align: center;

	ul {
		appearance: none;
		list-style: none;

		li {
			margin: 1em;
		}
	}
}

.github-star {
	transform: translateX(30%);
}
