$font_family_default: "HelveticaNeue-Light", Helvetica, Arial, "Lucida Grande", sans-serif;
$font_weight_default: 200;

$font_family_heading: Helvetica, Arial, "Lucida Grande", sans-serif;
$font_weight_heading: 300;
