<header class="site-header">
	<h1 class="site-title">Cognitive Bias</h1>
	<h2 class="site-tagline">A game to explore cognitive biases we experience in our daily lives</h2>
</header>

{{outlet}}

<footer class="site-footer">
	&copy; 2018 John Starich
</footer>
