<header class="site-header">
	<h1 class="site-title">Cognitive Bias</h1>
	<h2 class="site-tagline">A game to explore cognitive biases we experience in our daily lives</h2>
</header>

<div class="alerts-container">
	<div class="alerts">
	{{#each flashMessages.queue as |flash|}}
		{{flash-message flash=flash}}
	{{/each}}
	</div>
</div>

{{outlet}}

<footer class="site-footer">
	<ul>
		<li>&copy; 2018 John Starich</li>
		<li><iframe class="github-star" src="https://ghbtns.com/github-btn.html?user=JohnStarich&repo=cognitive-bias&type=star&count=true&v=2" frameborder="0" scrolling="0" width="170px" height="20px"></iframe></li>
	</ul>
</footer>
