<div class="instructions">
	<p>Your goal is to convince every other person to believe what you say. Explore any strategy you like!</p>
	<p>Please note, the sentence structure and wording is a bit limited for now. If you get stuck, try to emulate how they phrase their beliefs.</p>
	<p>{{link-to "Play!" "game" class="play-button"}}</p>
</div>
